.a-tile
  display: flex
  flex: 1
  align-items: center
  justify-content: center
  flex-direction: column
  height: 100vh

  &.as-webmontag
    background: $wm-gradient

  &.as-devhouse
    background-color: $dhf-bg

  &.as-fintech
    background: $ftm-gradient
