.a-tile
  display: flex
  position: relative
  flex: 1
  align-items: center
  justify-content: center
  flex-direction: column
  height: 100vh
  padding: $padding

  &.as-webmontag
    background: $wm-gradient

  &.as-devhouse
    background-color: $dhf-bg

  &.as-wordpress
    background-color: $wp-bg

  &.as-fintech
    background: $ftm-gradient

  @media (max-width: 1023px)
    width: 100%
