<div class="b-footer">
  <div class="col-md-8">
    <h4>&copy; by hack.institute 2017</h4>
  </div>
  <div class="col-md-4">
    <p class="alignright">
      <a href="#"><i class="ion-social-twitter"></i></a>
      <a href="#"><i class="ion-social-facebook"></i></a>
      <a href="#"><i class="ion-social-github"></i></a>
      <a href="#"><i class="ion-social-flickr"></i></a>
    </p>
  </div>
</div>
